@import './reset.css';

// @mixin 설정

@mixin clear(){
    &:after{
        display:block;
        content:"";
        clear:both;
    }
}
.clear{
    @include clear();
}

// @mixin 설정 끝

// <---------- top header ---------->

.header{
    height:130px;
    padding-top:24px;
}
.container{
    @extend .clear;
    width:1200px;
    margin:0 auto;
}
.header_logo{
    float:left;
}
.header_ul{
    @extend .clear;
    float:right;
    padding-top:30px;
}
.header_ul_li{
    float:left;
    min-width:45px;
    height:25px;
    font-size:13px;
    color:white;
    text-align:center;
    line-height:22px;
    padding:0 9px;
    margin-right:5px;
}
.header_ul_li1{
    background-color:#666666;
}
.header_ul_li2{
    background-color:#007bc3;
}
.header_ul_li3{
    background-color:#0a857e;
}
.header_ul_li4{
    margin-right:0;
    background-color:#0a857e;
}

// <---------- nav ---------->
.nav{
    height:62px;
    border-top:1px solid #eeeeee;
    border-bottom:3px solid #007bc3;
}
.nav_ul{
    @extend .clear;
    text-align:center;
}
.nav_ul_li{
    float:left;
    height:61px;
    font-size:18px;
    padding:0 49px;
    line-height:60px;
    color:#252525;
    &:hover{
        color:white;
        background-color:#007bc3;
    }
}
.nav_ul_li1{
    margin-left:120px;
}

// <---------- 메인 전개 시작 ---------->

.wrap{
    height:1000px;
}

// <---------- wrap1 당첨결과표 ----------> 

.wrap1{
    padding-top:60px;
}
.win_box{
    @extend .clear;
    height:427px;
    color:white;
}
.win_header{
    font-size:18px;
    height:41px;
    border-bottom:1px solid rgba(255,255,255,0.3);
}
.win_content{
    margin-top:18px;
}

// <---------- 로또6/45 ----------> 

.win_lotto{
    width:639px;
    height:100%;
    float:left;
    padding:28px 40px 0;
    background-color:#227dbd;
}
.lotto_content_up{
    text-align:center;
}
.lotto_content_up_header{
    
}
.lotto_content_up_header_title{
    font-size:25px;
    vertical-align:middle;
}
.lotto_content_up_header_date{
    font-size:13px;
    vertical-align:middle;
    opacity:0.7;
}
.lotto_content_up_circle{
    margin-top:30px;
}
.lotto_ball{
    display:inline-block;
    width:50px;
    height:50px;
    border-radius:50px;
    font-size:28px;
    font-weight:bold;
    text-align:center;
    line-height:47px;
    margin-left:5px;
    text-shadow:0 0 3px rgba(73, 57, 0, .8);
}
.lotto_ball1{
    margin-left:0;
    background-color:#fbc400;
}
.lotto_ball2{
    background-color:#69c8f2;
}
.lotto_ball3{
    background-color:#ff7272;
}
.lotto_ball4{
    background-color:#ff7272;
}
.lotto_ball5{
    background-color:#aaa;
}
.lotto_ball6{
    background-color:#b0d840;
}
.lotto_ball7{
    background-color:#ff7272;
}
.lotto_ball_plus{
    display:inline-block;
    width:20px;
    height:50px;
    border-radius:50px;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    line-height:47px;
    margin-right:5px;
}
.lotto_content_up_txt{
    @extend .clear;
    margin-top:20px;
}
.lotto_content_up_txt_money{
    font-size:18px;
}
.lotto_content_up_txt_money1{
    font-size:16px;
}
.lotto_content_down{
    position:relative;
    margin-top:28px;
    padding-top:28px;
    border-top:1px solid rgba(255,255,255,0.3);
}
.lotto_content_down_header{
    position:relative;
    font-size:13px;
}
.lotto_content_down_header_next{
    font-size:16px;
}
.lotto_content_down_header_now{
    margin-left:10px;
    opacity:0.7;
}
.lotto_content_down_all{
    position:absolute;
    top:0;
    right:0;
}
.lotto_content_down_next_money{
    @extend .clear;
    margin-top:15px;
}
.lotto_content_down_money{
    float:left;
    width:366px;
    border:1px solid #63a1c8;
}
.lotto_content_down_money_tr{
    height:34px;
    text-align:center;
    border:1px solid #63a1c8;
}
.lotto_content_down_money_th{
    height:34px;
    vertical-align:middle;
	border:1px solid #63a1c8;
    background-color:#3b647d;
}
.lotto_content_down_money_td{
    height:34px;
    vertical-align:middle;
	border:1px solid #63a1c8;
    &:before{
        display:inline-block;
        width:21px;
        height:20px;
        content:"";
        vertical-align: middle;
        background:url(../assets/images/icon_won_white.png) 0 50% no-repeat;
    }   
}
.lotto_content_down_money_td_span{
    display:inline-block;
    vertical-align: middle;
    margin-top:-1px;
}
.lotto_content_down_button{
    float:right;
    width:173px;
    height:70px;
    font-size:19px;
    text-align:center;
    line-height:71px;
    border:none;
    color:white;
    background-color:#0a857e;
}

// <---------- 연금복권520 ---------->

.win_520{
    width:281px;
    height:100%;
    float:left;
    padding:28px 40px 0;
    background-color:#589ed3;
}
.w520_content_up_header{
    @extend .clear;
}
.w520_content_up_header_win{
    float:left;
    font-size:16px;
}
.w520_content_up_header_date{
    float:right;
    font-size:13px;
    margin-top:1px;
}
.w520_content_up_square{
    padding-top:25px;
    font-weight:bold;
}
.w520_square_group{
    display:inline-block;
    width:25px;
    font-size:15px;
}
.w520_square{
    display:inline-block;
    width:25px;
    height:25px;
    text-align:center;
    line-height:23px;
    border-radius:2px;
    font-size:17px;
    color:#444;
    background-color:white;
}
.w520_square_second{
    margin-top:14px;
}
.w520_content_up_txt{
    @extend .clear;
    margin-top:17px;
    margin-bottom:10px;
    padding-bottom:25px;
    border-bottom:1px solid rgba(255,255,255,0.3);
}
.w520_content_up_txt_circle{
    float:left;
    width:30px;
    height:30px;
    border-radius:100%;
    font-size:10px;
    text-align:center;
    line-height:28px;
    background-color:#3b647d;
}
.w520_content_up_txt_how{
    float:right;
    margin-top:7px;
}
.w520_content_down_btn{
    @extend .clear;
    margin-top:15px;
}
.w520_content_down_btn_button{
    height:27px;
    color:white;
    border:none;
    padding:0 11px;
}
.w520_content_down_btn_before{
    float:left;
    background-color:#444;
}
.w520_content_down_btn_buy{
    float:right;
    background-color:#0a857e;
}

// <---------- 즉석식인쇄복권 ---------->

.win_speetto{
    width:280px;
    height:100%;
    float:left;
    padding:28px 40px 0;
    background-color:#5e7bc1;
}
.speetto_content_header{
    @extend .clear;
}
.speetto_content_header_win{
    float:left;
}
.speetto_content_header_date{
    float:right;
    font-size:13px;
    opacity:0.7;
}
.speetto_content_wrap{
    margin-top:14px;
}
.speetto_content_title{
    font-size:15px;
}
.speetto_content_img{
    margin-top:10px;
}
.speetto_content_amount{
    font-size:13px;
}
.speetto_content_table{
    @extend .clear;
    height:100px;
    text-align:center;
    margin-top:10px;
    border:1px solid rgba(255,255,255,0.5);
}
.speetto_content_table_li{
    float:left;
    width:25%;
    font-size:11px;
    border-right:1px solid rgba(255,255,255,0.3);
}
.speetto_content_table_li_up{
    height:55px;
    padding-top:35px;
    border-bottom:1px solid rgba(255,255,255,0.3);
}
.speetto_content_table_li_down{
    height:44px;
    line-height:40px;
}
.speetto_content_table_li_strong{
    font-size:12px;
}
.speetto_table_li1{
    background:#515f82 url(../assets/images/bg_speetto_1st.png) 50% 0 no-repeat;
}
.speetto_table_li2{
    background:#515f82 url(../assets/images/bg_speetto_2nd.png) 50% 0 no-repeat;
}
.speetto_table_li3{
    background:#515f82 url(../assets/images/bg_speetto_3rd.png) 50% 0 no-repeat;
}
.speetto_table_li4{
    line-height:17px;
    padding-top:35px;
    border-right:none;
}

// <---------- wrap2 전자복권 및 실시간잭팟당첨금 ---------->

.wrap_marginTop{
    margin-top:20px;
}
.wrap2_borderbox{
    @extend .clear;
    border:1px solid #ddd;
}
.wrap2_box{
    float:left;
    height:367px;
    padding:30px;
}
.jjbg{
    width:920px;
    border-right:1px solid #ddd;
}
.wrap2_header{
    @extend .clear;
    color:#333;
}
.wrap2_header_name{
    font-size:18px;
}
.wrap2_header_plus{
    float:right;
}
.wrap2_jjbg_ul{
    @extend .clear;
    margin:18px -15px 0 -14px;
}
.wrap2_jjbg_li{
    @extend .clear;
    float:left;
    width:193px;
    margin:0 15px 30px 14px;
}
.wrap2_btn{
    float:left;
    width:50%;
    height:30px;
    border:none;
    color:white;
    margin-top:-1px;
}
.wrap2_btn1{
    background-color:#0a857e;
}
.wrap2_btn2{
    background-color:#444;
}

.jackpot{
    width:278px;
    background-color:#fafafa;
}
.wrap2_jackpot_ul{
    margin-top:18px;
}
.wrap2_jackpot_li{
    @extend .clear;
    padding:0 10px;
    margin-bottom:10px;
    border:1px solid #ddd;
    background-color:white;
}
.wrap2_jackpot_jjbg{
    float:left;
    font-size:13px;
    line-height:29px;
}
.wrap2_jackpot_money{
    float:right;
    line-height:29px;
    color:#2179af;
    padding-left:20px;
    background:url(../assets/images/ico_won_blue.jpg) 0 no-repeat;
}

// <---------- wrap3 화면분할 ---------->

.wrap3{
    height:421px;
//    background-color:green;
}
.wrap3_wrapbox{
    @extend .clear;
}
.wrap3_box{
    float:left;
    height:421px;
    border:1px solid #ddd;
    border-left:0px;
}
.wrap3_padding{
    padding:25px;
}
.wrap3_box1{
    width:320px;
    border-left:1px solid #ddd;
}
.wrap3_interview{
    height:209px;
    border-bottom:1px solid #ddd;
}
.wrap3_interview_article{
    @extend .clear;
    margin-top:7px;
}
.wrap3_interview_img{
    float:left;
    position:relative;
    margin-right:20px;
    width:110px;
    height:70px;
    border:1px solid #ddd;
    background:url(../assets/images/logo_speetto.png) 50% 50% no-repeat;
    background-size:auto 100%;
}
.wrap3_interview_img_span{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    text-align:center;
    line-height:23px;
    color:white;
    font-size:12px;
    background-color:rgba(68,68,68,0.8);
}
.wrap3_interview_txt{
    font-size:15px;
    line-height:20px;
    padding-top:5px;
}
.wrap3_interview_txt_p{
    font-size:13px;
    color:#999;
}
.wrap3_notice_head{
    @extend .clear;
}
.wrap3_notice_header{
    float:left;
    padding:0 20px;
    line-height:35px;
}
.wrap3_notice_header1{
    color:white;
    border:1px solid #2179af;
    background-color:#2179af;
}
.wrap3_notice_header2{
    color:#666;
    border:1px solid #ddd;
//    border-bottom:none;
    background-color:#fafafa;
}
.wrap3_notice_list{
    border-top:1px solid #ddd;
    padding-top:10px;
    margin-top:-1px;
    padding-left:15px;
//    line-height:37px;
    font-size:15px;
    color:#555;
}
.wrap3_notice_list1{
    display:block;
//    display:none;
}
.wrap3_notice_list2{
    display:none;
}
.wrap3_notice_list_txt{
    list-style-type:disc;
    padding-top:22px;
}
.wrap3_notice_list_date{
    float:right;
    font-size:13px;
    color:#777;
}

// <---------- wrap3 두번째열 ---------->

.wrap3_box2{
    width:320px;
}
.wrap3_fund{
    height:314px;
    border-bottom:1px solid #ddd;
    background:#fafafa url(../assets/images/wrap3_3.png) 150px 100px no-repeat;
    @extend .clear;
}
.wrap3_fund_txt1{
    font-size:17px;
    line-height:23px;
}
.wrap3_fund_txt1_blue{
    color:#2179af;
}
.wrap3_fund_txt2{
    margin-top:20px;
}
.wrap3_fund_txt2_li{
    color:#666;
    margin-top:10px;
    padding-left:18px;
    background:url(../assets/images/bul_fund.png) 1px no-repeat;
}
.wrap3_fund_txt3{
    margin-top:30px;
    text-align:center;
    border:1px solid #ddd;
}
.wrap3_fund_txt3_li1{
    line-height:30px;
    color:#464646;
    background-color:#e7f5f5;
    border-bottom:1px solid #ddd;
}
.wrap3_fund_txt3_li2{
    font-size:17px;
    line-height:30px;
    color:#2179af;
}
.wrap3_fund_txt4{
    float:right;
    margin-top:10px;
    color:#444;
}
.wrap3_happyPlus{
    height:105px;
    background:#eaf3f5 url(../assets/images/wrap3_4.png) 170px 50% no-repeat;
}
.wrap3_happyPlus_strong{
    font-size:16px;
}
.wrap3_happyPlus_txt{
    margin-top:7px;
    line-height:18px;
    color:#777;
}

// <---------- wrap3 세번째열 ---------->

.wrap3_box3{
    width:280px;
    padding:0 15px 0 17px;
}
.wrap3_link{
    height:70px;
    padding-top:15px;
    border-bottom:1px solid #ddd;
}
.wrap3_link1{
    background:url(../assets/images/wrap3_5_1.png) 3px 50% no-repeat;
}
.wrap3_link2{
    background:url(../assets/images/wrap3_5_2.png) 3px 50% no-repeat;
}
.wrap3_link3{
    background:url(../assets/images/wrap3_5_3.png) 3px 50% no-repeat;
}
.wrap3_link4{
    background:url(../assets/images/wrap3_5_4.png) 3px 50% no-repeat;
}
.wrap3_link5{
    background:url(../assets/images/wrap3_5_5.png) 3px 50% no-repeat;
}
.wrap3_link6{
    background:url(../assets/images/wrap3_5_6.png) 3px 50% no-repeat;
    border-bottom:none;
}
.wrap3_link_txt{
    padding-left:60px;
    font-size:12px;
    line-height:20px;
}
.wrap3_link_gray{
    color:#777;
}

// <---------- wrap3 네번째열 ---------->

.wrap3_box4{
    width:280px;
    background:url(../assets/images/wrap3_6.jpg)
}
.wrap3_center_txt1{
    font-size:13px;
    color:#bfe6ff;
    line-height:16px;
}
.wrap3_center_txt2{
    font-size:17px;
    color:#ffcda5;
    line-height:50px;
}
.wrap3_center_txt3{
    font-size:13px;
    color:white;
}
.wrap3_center_txt4{
    font-size:15px;
    color:white;
    line-height:30px;
}
.wrap3_selfPlan{
    padding-top:35px;
}
.wrap3_self_li1{
    background:url(../assets/images/ico_self1.png) 25px 50% no-repeat;
}
.wrap3_self_li2{
    background:url(../assets/images/ico_self2.png) 25px 50% no-repeat;
}
.wrap3_self_li3{
    background:url(../assets/images/ico_self3.png) 25px 50% no-repeat;
}
.wrap3_self_li{
    height:60px;
    background-color:white;
    border-bottom:1px solid #ddd;
    &:nth-last-of-type(1){
        border-bottom:none;
    }
}
.wrap3_self_txt{
    color:#333;
    padding:23px 0 0 90px;

}

// <---------- wrap4 분류표 ---------->

.wrap4{
    height:340px;
}
.wrap4_table{
    border:1px solid #ddd;
    background-color:#f8f8f8;
}
.wrap4_table_th{
    width:200px;
    padding:20px 30px;
    font-size:16px;
    font-weight:bold;
    color:#222;
    text-align:left;
    border-right:1px solid #eeeeee;
    &:nth-last-of-type(1){
        border-right:none;
    }
}
.wrap4_table_td{
    width:200px;
    padding:20px 30px;
    font-size:14px;
    color:#777;
    border:1px solid #eeeeee;
    border-bottom:1px solid #ddd;
    &:nth-last-of-type(1){
        border-right:1px solid #ddd;
    }
    &:nth-last-of-type(6){
        border-left:1px solid #ddd;
    }
}
.wrap4_table_td_p{
    padding-bottom:7px;
    line-height:20px;
}

// <---------- footer ---------->

.wrap5{
    margin:30px 0;
}
.wrap5_link{
    @extend .clear;
}
.wrap5_link_li{
    float:left;
    width:216px;
    height:45px;
    text-align:center;
    line-height:50px;
    border:1px solid #ddd;
    margin-right:30px;
    &:nth-last-of-type(1){
        margin-right:0;
    }
}
.bottom_nav{
    background-color:#626262;
}
.bottom_ul{
    @extend .clear;
    height:70px;
//    text-align:center;
    margin-left:120px;
    color:white;
}
.bottom_li{
    float:left;
    position: relative;
    display:inline-block;
    padding:0 30px;
    line-height:70px;
}

.bottom_footer{
    margin:40px 0;
}
.bottom_footer_in{
    position:relative;
}
.footer_left{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:150px;
    text-align:center;
}
.footer_left_wrap{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.footer_logo{
}
.footer_btn{
    margin-top:10px;
    padding:5px;
    font-size:10px;
    color:#888;
    border:1px solid #ddd;
    background-color:white;
}
.footer_center{
    padding-left:200px;
    color:#888;
    line-height:20px;
}
.footer_txt{
    font-size:15px;
    margin-bottom:10px;
    &:nth-last-of-type(1){
        margin-bottom:0;
    }
}
.footer_txt14{
    font-size:14px;
    margin-top:20px;
}
.footer_span{
    margin-left:15px;
}
.footer_right{
    position:absolute;
    top:5px;
    right:0;
}
.footer_right_img1{
    margin-right:15px;
}