<% include ./inc/header.ejs %>
    <header class="header">
        <div class="container">
            <div class="header_logo">
                <img src="./assets/images/logo_header.png" alt="동행복권">
            </div>
            <ul class="header_ul">
                <li class="header_ul_li header_ul_li1">로그인</li>
                <li class="header_ul_li header_ul_li2">회원가입</li>
                <li class="header_ul_li header_ul_li3">마이페이지</li>
                <li class="header_ul_li header_ul_li4">고객센터</li>
            </ul>
        </div>
    </header>
    <nav class="nav">
        <div class="container">
            <ul class="nav_ul">
                <li class="nav_ul_li nav_ul_li1">복권구매</li>
                <li class="nav_ul_li">복권정보</li>
                <li class="nav_ul_li">당첨결과</li>
                <li class="nav_ul_li">판매점</li>
                <li class="nav_ul_li">이벤트</li>
                <li class="nav_ul_li">행복공감</li>
            </ul>
        </div>
    </nav>
    <section class="wrap">
        <section class="wrap1">
            <div class="container">
                <section class="win_box">
                    <div class="win_lotto">
                        <header class="win_header win_lotto_header">
                            로또 6/45
                        </header>
                        <div class="win_content win_lotto_content">
                            <section class="lotto_content_up">
                                <header class="lotto_content_up_header">
                                    <span class="lotto_content_up_header_title">
                                        <strong>896회</strong>
                                        당첨결과
                                    </span>
                                    <span class="lotto_content_up_header_date">
                                        2020-02-01
                                    </span>
                                </header>
                                <div class="lotto_content_up_circle">
                                    <span class="lotto_ball lotto_ball1">
                                        5
                                    </span>
                                    <span class="lotto_ball lotto_ball2">
                                        12
                                    </span>
                                    <span class="lotto_ball lotto_ball3">
                                        25
                                    </span>
                                    <span class="lotto_ball lotto_ball4">
                                        26
                                    </span>
                                    <span class="lotto_ball lotto_ball5">
                                        38
                                    </span>
                                    <span class="lotto_ball lotto_ball6">
                                        45
                                    </span>
                                    <span class="lotto_ball_plus">
                                        +
                                    </span>
                                    <span class="lotto_ball lotto_ball7">
                                        23
                                    </span>
                                </div>
                                <div class="lotto_content_up_txt">
                                    <span class="lotto_content_up_txt_money">
                                        1등 7게임
                                        <strong>총 당첨금액 약 214억원</strong>
                                    </span>
                                    <span class="lotto_content_up_txt_money1">
                                        (1게임당 당첨금액 약 31억원)
                                    </span>
                                </div>
                            </section>
                            <section class="lotto_content_down">
                                <header class="lotto_content_down_header">
                                    <span class="lotto_content_down_header_next">
                                        <strong>다음회차</strong>
                                    </span>
                                    <span class="lotto_content_down_header_now">
                                        <strong>2020-02-04 16:00 현재</strong>
                                    </span>
                                    <div class="lotto_content_down_all">
                                        회차별 당첨결과
                                    </div>
                                </header>
                                <div class="lotto_content_down_next_money">
                                    <table class="lotto_content_down_money">
                                        <thead>
                                            <tr class="lotto_content_down_money_tr">
                                                <th class="lotto_content_down_money_th">
                                                    예상당첨금
                                                </th>
                                                <th class="lotto_content_down_money_th">
                                                    누적판매금
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="lotto_content_down_money_tr">
                                                <td class="lotto_content_down_money_td">
                                                    <span class="lotto_content_down_money_td_span">
                                                        9,850,179,749
                                                    </span>
                                                </td>
                                                <td class="lotto_content_down_money_td">
                                                    <span class="lotto_content_down_money_td_span">
                                                        40,955,888,000
                                                    </span>
                                                </td">
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="lotto_content_down_button">
                                        구매하기
                                    </button>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="win_520">
                        <header class="win_header win_520_header">
                            연금복권 520
                        </header>
                        <div class="win_content win_520_content">
                            <section class="w520_content_up">
                                <header class="w520_content_up_header">
                                    <span class="w520_content_up_header_win">
                                        <strong>446회 당첨결과</strong>
                                    </span>
                                    <span class="w520_content_up_header_date">
                                        [2020-01-15]
                                    </span>
                                </header>
                                <div class="w520_content_up_square">
                                    <div class="w520_square_first">
                                        <span class="w520_square_group">
                                            3조
                                        </span>
                                        <span class="w520_square w520_square1">
                                            6
                                        </span>
                                        <span class="w520_square w520_square2">
                                            2
                                        </span>
                                        <span class="w520_square w520_square3">
                                            8
                                        </span>
                                        <span class="w520_square w520_square4">
                                            2
                                        </span>
                                        <span class="w520_square w520_square5">
                                            4
                                        </span>
                                        <span class="w520_square w520_square6">
                                            2
                                        </span>
                                    </div>
                                    <div class="w520_square_second">
                                        <span class="w520_square_group">
                                            3조
                                        </span>
                                        <span class="w520_square w520_square1">
                                            8
                                        </span>
                                        <span class="w520_square w520_square2">
                                            4
                                        </span>
                                        <span class="w520_square w520_square3">
                                            9
                                        </span>
                                        <span class="w520_square w520_square4">
                                            3
                                        </span>
                                        <span class="w520_square w520_square5">
                                            6
                                        </span>
                                        <span class="w520_square w520_square6">
                                            5
                                        </span>
                                    </div>
                                </div>
                                <div class="w520_content_up_txt">
                                    <div class="w520_content_up_txt_circle">
                                        <strong>1등</strong>
                                    </div>
                                    <div class="w520_content_up_txt_how">
                                        매달 500만원씩 20년 지급
                                    </div>
                                </div>
                            </section>
                            <section class="w520_content_down">
                                <img src="./assets/images/img_lottery_win520.png" alt="연금복권520">
                                <div class="w520_content_down_btn">
                                    <button class="w520_content_down_btn_button w520_content_down_btn_before">
                                        회차별 당첨결과
                                    </button>
                                    <button class="w520_content_down_btn_button w520_content_down_btn_buy">
                                        구매하기
                                    </button>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="win_speetto">
                        <header class="win_header win_speetto_header">
                            즉석식 인쇄복권
                        </header>
                        <div class="win_content win_speetto_content">
                            <header class="speetto_content_header">
                                <div class="speetto_content_header_win">
                                    <strong>판매/당첨 현황</strong>
                                </div>
                                <div class="speetto_content_header_date">
                                    [2020-02-05]
                                </div>
                            </header>
                            <div class="speetto_content_wrap">
                                <strong class="speetto_content_title">스피또 2000 32회</strong>
                                <img class="speetto_content_img" src="./assets/images/1579486743175.png" alt="스피또">
                                <strong class="speetto_content_amount">남은 수량</strong>
                                <ul class="speetto_content_table">
                                    <li class="speetto_content_table_li">
                                        <div class="speetto_content_table_li_up speetto_table_li1">1등 10억</div>
                                        <div class="speetto_content_table_li_down">
                                            <strong class="speetto_content_table_li_strong">4</strong>매
                                        </div>
                                    </li>
                                    <li class="speetto_content_table_li">
                                        <div class="speetto_content_table_li_up speetto_table_li2">2등 1억</div>
                                        <div class="speetto_content_table_li_down">
                                            <strong class="speetto_content_table_li_strong">11</strong>매
                                        </div>
                                    </li>
                                    <li class="speetto_content_table_li">
                                        <div class="speetto_content_table_li_up  speetto_table_li3">3등 천백</div>
                                        <div class="speetto_content_table_li_down">
                                            <strong class="speetto_content_table_li_strong">100</strong>매
                                        </div>
                                    </li>
                                    <li class="speetto_content_table_li  speetto_table_li4">
                                        출고율<br/>
                                        <strong class="speetto_content_table_li_strong">21.0%</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section> 
            </div>
        </section>
        <section class="wrap_marginTop wrap2">
            <div class="container">
                <section class="wrap2_borderbox">
                    <div class="wrap2_box jjbg">
                        <header class="wrap2_header">
                            <span class="wrap2_header_name">
                                전자복권
                            </span>
                            <span class="wrap2_header_plus">
                                +
                            </span>
                        </header>
                        <ul class="wrap2_jjbg_ul">
                            <li class="wrap2_jjbg_li">
                                <div>
                                    <img src="./assets/images/img_inbok_1.jpg" alt="">
                                </div>
                                <button class="wrap2_btn wrap2_btn1">구매하기</button>
                                <button class="wrap2_btn wrap2_btn2">이용안내</button>
                            </li>
                            <li class="wrap2_jjbg_li">
                                <div>
                                    <img src="./assets/images/img_inbok_2.jpg" alt="">
                                </div>
                                <button class="wrap2_btn wrap2_btn1">구매하기</button>
                                <button class="wrap2_btn wrap2_btn2">이용안내</button>
                            </li>
                            <li class="wrap2_jjbg_li">
                                <div>
                                    <img src="./assets/images/img_inbok_3.jpg" alt="">
                                </div>
                                <button class="wrap2_btn wrap2_btn1">구매하기</button>
                                <button class="wrap2_btn wrap2_btn2">이용안내</button>
                            </li>
                            <li class="wrap2_jjbg_li">
                                <div>
                                    <img src="./assets/images/img_inbok_4.jpg" alt="">
                                </div>
                                <button class="wrap2_btn wrap2_btn1">구매하기</button>
                                <button class="wrap2_btn wrap2_btn2">이용안내</button>
                            </li>
                            <li class="wrap2_jjbg_li">
                                <div>
                                    <img src="./assets/images/img_inbok_5.jpg" alt="">
                                </div>
                                <button class="wrap2_btn wrap2_btn1">구매하기</button>
                                <button class="wrap2_btn wrap2_btn2">이용안내</button>
                            </li>
                            <li class="wrap2_jjbg_li">
                                <div>
                                    <img src="./assets/images/img_inbok_6.jpg" alt="">
                                </div>
                                <button class="wrap2_btn wrap2_btn1">구매하기</button>
                                <button class="wrap2_btn wrap2_btn2">이용안내</button>
                            </li>
                            <li class="wrap2_jjbg_li">
                                <div>
                                    <img src="./assets/images/img_inbok_7.jpg" alt="">
                                </div>
                                <button class="wrap2_btn wrap2_btn1">구매하기</button>
                                <button class="wrap2_btn wrap2_btn2">이용안내</button>
                            </li>
                            <li class="wrap2_jjbg_li">
                                <div>
                                    <img src="./assets/images/img_inbok_8.jpg" alt="">
                                </div>
                                <button class="wrap2_btn wrap2_btn1">구매하기</button>
                                <button class="wrap2_btn wrap2_btn2">이용안내</button>
                            </li>
                        </ul>
                    </div>
                    <div class="wrap2_box jackpot">
                        <header class="wrap2_header">
                            <span class="wrap2_header_name">
                                실시간 잭팟 당첨금
                            </span>
                        </header>
                        <ul class="wrap2_jackpot_ul">
                            <li class="wrap2_jackpot_li">
                                <span class="wrap2_jackpot_jjbg">
                                    파워볼
                                </span>
                                <span class="wrap2_jackpot_money">
                                    161,797,318
                                </span>
                            </li>
                            <li class="wrap2_jackpot_li">
                                <span class="wrap2_jackpot_jjbg">
                                    스피드키노
                                </span>
                                <span class="wrap2_jackpot_money">
                                    41,809,863
                                </span>
                            </li>
                            <li class="wrap2_jackpot_li">
                                <span class="wrap2_jackpot_jjbg">
                                    메가빙고
                                </span>
                                <span class="wrap2_jackpot_money">
                                    38,967,804
                                </span>
                            </li>
                            <li class="wrap2_jackpot_li">
                                <span class="wrap2_jackpot_jjbg">
                                    트리플럭
                                </span>
                                <span class="wrap2_jackpot_money">
                                    500,000,000
                                </span>
                            </li>
                            <li class="wrap2_jackpot_li">
                                <span class="wrap2_jackpot_jjbg">
                                    캐치미
                                </span>
                                <span class="wrap2_jackpot_money">
                                    10,000,000
                                </span>
                            </li>
                            <li class="wrap2_jackpot_li">
                                <span class="wrap2_jackpot_jjbg">
                                    트레져헌터
                                </span>
                                <span class="wrap2_jackpot_money">
                                    5,734,804
                                </span>
                            </li>
                            <li class="wrap2_jackpot_li">
                                <span class="wrap2_jackpot_jjbg">
                                    더블잭마이더스
                                </span>
                                <span class="wrap2_jackpot_money">
                                    40,548,771
                                </span>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
        <section class="wrap_marginTop wrap3">
            <div class="container">
                <section class="wrap3_wrapbox">
                    <div class="wrap3_box wrap3_box1">
                        <div class="wrap3_padding wrap3_interview">
                            <div class="wrap3_interview_article">
                                <div class="wrap3_interview_img">

                                </div>
                                <div class="wrap3_interview_txt">
                                    <header>
                                        생각지도 못했던 연금복권 1등 당첨의 기
                                    </header>
                                    <p>2020-02-13</p>
                                </div>
                            </div>
                            <div class="wrap3_interview_article">
                                <div class="wrap3_interview_img">

                                </div>
                                <div class="wrap3_interview_txt">
                                    <header>
                                        왠지 좋은 느낌이 스피또 1등 당첨으로!
                                    </header>
                                    <p>2020-02-11</p>
                                </div>
                            </div>
                        </div>
                        <div class="wrap3_padding wrap3_notice">

                        </div>
                    </div>
                    <div class="wrap3_box wrap3_box2">
                        <div class="wrap3_padding wrap3_fund">
                            <p class="wrap3_fund_txt1">
                                <span class="wrap3_fund_txt1_blue">판매액의 42%이상</span>
                                이 복권기금이<br>되어 소외계층에 사용되고 있습니다.
                            </p>
                            <ul class="wrap3_fund_txt2">
                                <li class="wrap3_fund_txt2_li">법정배분사업</li>
                                <li class="wrap3_fund_txt2_li">주거안정사업</li>
                                <li class="wrap3_fund_txt2_li">소외계층사업</li>
                                <li class="wrap3_fund_txt2_li">문화예술사업</li>
                            </ul>
                            
                        </div>
                        <div class="wrap3_padding wrap3_happyPlus">
                            <strong class="wrap3_happyPlus_strong">행복더하기 신청</strong>
                            <p class="wrap3_happyPlus_txt">매일 새로운 복권소식과<br>함께하세요.</p>
                        </div>
                    </div>
                    <ul class="wrap3_box wrap3_box3">
                        <li class="wrap3_link wrap3_link1">
                            <span class="wrap3_link_txt">
                                동행복권 Cafe <br>
                                <span class="wrap3_link_gray">함께하는 재미와 이벤트!</span>
                            </span>
                        </li>
                        <li class="wrap3_link wrap3_link2">
                            <span class="wrap3_link_txt">
                                동행복권 Blog <br>
                                <span class="wrap3_link_gray">다양한 재미가 팡팡!</span>
                            </span>
                        </li>
                        <li class="wrap3_link wrap3_link3">
                            <span class="wrap3_link_txt">
                                동행복권 Facebook <br>
                                <span class="wrap3_link_gray">친구신청으로 이벤트 정보가 쏙쏙!</span>
                            </span>
                        </li>
                        <li class="wrap3_link wrap3_link4">
                            <span class="wrap3_link_txt">
                                동행복권 YouTube <br>
                                <span class="wrap3_link_gray">복권에 대한 영상 정보를 보는 곳!</span>
                            </span>
                        </li>
                        <li class="wrap3_link wrap3_link5">
                            <span class="wrap3_link_txt">
                                동행복권 News Letter <br>
                                <span class="wrap3_link_gray">복권에 대한 알찬 정보가 있는 곳!</span>
                            </span>
                        </li>
                        <li class="wrap3_link wrap3_link6">
                            <span class="wrap3_link_txt">
                                동행복권 공식 APP <br>
                                <span class="wrap3_link_gray">모든 복권 정보가 한곳에!</span>
                            </span>
                        </li>
                    </ul>
                    <div class="wrap3_box wrap3_box4">
                        <div class="wrap3_padding wrap3_cleanCenter">
                            <p class="wrap3_center_txt1">도박중독, 복권과몰입<br>전문 상담기구</p>
                            <strong class="wrap3_center_txt2">동행클린센터</strong>
                            <p class="wrap3_center_txt3">도박문제 전문상담</p>
                            <strong class="wrap3_center_txt4">080-800-0501</strong>
                        </div>
                        <ul class="wrap3_padding wrap3_selfPlan">
                            <li class="wrap3_self_li wrap3_self_li1">
                                <p class="wrap3_self_txt">셀프 진단평가</p>
                            </li>
                            <li class="wrap3_self_li wrap3_self_li2">
                                <p class="wrap3_self_txt">셀프 구매계획</p>
                            </li>
                            <li class="wrap3_self_li wrap3_self_li3">
                                <p class="wrap3_self_txt">셀프 휴식계획</p>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
        <section class="wrap_marginTop wrap4">
            <div class="container">
                <table class="wrap4_table">
                    <thead>
                        <tr>
                            <th class="wrap4_table_th">게임구매</th>
                            <th class="wrap4_table_th">게임정보</th>
                            <th class="wrap4_table_th">게임결과</th>
                            <th class="wrap4_table_th">판매점</th>
                            <th class="wrap4_table_th">이벤트</th>
                            <th class="wrap4_table_th">행복공감</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="wrap4_table_td">
                                <p class="wrap4_table_td_p">로또6/45</p>
                                <p class="wrap4_table_td_p">연금복권520</p>
                                <p class="wrap4_table_td_p">파워볼</p>
                                <p class="wrap4_table_td_p">스피드키노</p>
                                <p class="wrap4_table_td_p">메가빙고</p>
                                <p class="wrap4_table_td_p">트리플럭</p>
                                <p class="wrap4_table_td_p">캐치미</p>
                                <p class="wrap4_table_td_p">트래져헌터</p>
                                <p class="wrap4_table_td_p">더블잭마이더스</p>
                            </td>
                            <td class="wrap4_table_td">
                                <p class="wrap4_table_td_p">로또6/45</p>
                                <p class="wrap4_table_td_p">연금복권520</p>
                                <p class="wrap4_table_td_p">전자복권</p>
                                <p class="wrap4_table_td_p">즉석식인쇄복권</p>
                            </td>
                            <td class="wrap4_table_td">
                                <p class="wrap4_table_td_p">로또6/45</p>
                                <p class="wrap4_table_td_p">연금복권520</p>
                                <p class="wrap4_table_td_p">전자복권</p>
                                <p class="wrap4_table_td_p">즉석식인쇄복권</p>
                                <p class="wrap4_table_td_p">로또6/45 당첨통계</p>
                                <p class="wrap4_table_td_p">연금복권520 당첨통계</p>
                                <p class="wrap4_table_td_p">당첨소식</p>
                                <p class="wrap4_table_td_p">미수령당첨금</p>
                            </td>
                            <td class="wrap4_table_td">
                                <p class="wrap4_table_td_p">로또6/45판매점 조회</p>
                                <p class="wrap4_table_td_p">즉석 및 연금복권 판매점 조회</p>
                            </td>
                            <td class="wrap4_table_td">
                                <p class="wrap4_table_td_p">이벤트</p>
                            </td>
                            <td class="wrap4_table_td">
                                <p class="wrap4_table_td_p">건전한 복권문화</p>
                                <p class="wrap4_table_td_p">복권기금</p>
                                <p class="wrap4_table_td_p">행복공감봉사단</p>
                                <p class="wrap4_table_td_p">홍보센터</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="wrap_marginTop wrap5">
            <div class="container">
                <ul class="wrap5_link">
                    <li class="wrap5_link_li">
                        <img class="wrap5_img" src="./assets/images/wrap5_1.gif" alt="">
                    </li>
                    <li class="wrap5_link_li">
                        <img class="wrap5_img" src="./assets/images/wrap5_2.gif" alt="">
                    </li>
                    <li class="wrap5_link_li">
                        <img class="wrap5_img" src="./assets/images/wrap5_3.gif" alt="">
                    </li>
                    <li class="wrap5_link_li">
                        <img class="wrap5_img" src="./assets/images/wrap5_4.gif" alt="">
                    </li>
                    <li class="wrap5_link_li">
                        <img class="wrap5_img" src="./assets/images/wrap5_5.gif" alt="">
                    </li>
                </ul>
            </div>
        </section>
        <footer>
            <nav class="bottom_nav">
                <div class="container">
                    <ul class="bottom_ul">
                        <li class="bottom_li bottom_li1">이용약관</li>
                        <li class="bottom_li">개인정보 처리방침</li>
                        <li class="bottom_li">인쇄복권 당첨금 지급 기준</li>
                        <li class="bottom_li">불법사행행위신고센터</li>
                        <li class="bottom_li">수탁사업자 소개</li>
                        <li class="bottom_li">ENGLISH</li>
                    </ul>
                </div>
            </nav>
            <section class="bottom_footer">
                <div class="container bottom_footer_in">
                    <section class="footer_left">
                        <div class="footer_left_wrap">
                            <img class="footer_logo" src="./assets/images/logo-footer.png" alt="logo">
                            <button class="footer_btn">사업자정보확인</button>
                        </div>
                    </section>
                    <section class="footer_center">
                        <p class="footer_txt">
                            수탁사업자 (주)동행복권
                            <span class="footer_span">
                                주소 : 06719 서울 서초구 남부순환로 2423 한원빌딩 4층
                            </span>
                            <span class="footer_span">
                                고객문의 1588-6450
                            </span>
                            <span class="footer_span">
                                FAX 02-6933-3063
                            </span>
                            <br/>
                            대표자 : 조형섭, 김세중
                            <span class="footer_span">
                                사업자등록번호 866-87-00833
                            </span>
                            <span class="footer_span">
                                 통신판매사업자번호 : 제2018 - 서울서초 - 2075호
                            </span>
                        </p>
                        <p class="footer_txt">
                            Copyright (c) 2018 복권위원회&동행복권. All rights reserved
                        </p>
                        <p class="footer_txt footer_txt14">
                            본 홈페이지는 게시된 이메일 주소가 자동 수집되는 것을 거부하며, 이를 위반시 정보통신망법에 의해 처벌됨을 유념하여 주시길 바랍니다.<br/>
                            청소년은 복권을 구매하거나 당첨금을 수령할 수 없습니다.
                        </p>
                        <p class="footer_txt">
                            본 사이트는 Internet Explorer 11, Edge, Chrome, Safari 브라우저에 최적화되어 있습니다.
                        </p>
                    </section>
                    <section class="footer_right">
                        <img class="footer_right_img1" src="./assets/images/logo_gic.jpg" alt="gic">
                        <img class="footer_right_img2" src="./assets/images/logo_ias.jpg" alt="ias">
                    </section>
                </div>
            </section>
            
        </footer>
    </section>
        

<% include ./inc/footer.ejs %>